CREATE TABLE "users" ("id" bigint NOT NULL GENERATED BY DEFAULT AS IDENTITY, "email" character varying NOT NULL, "full_name" character varying NOT NULL, "password_hash" character varying NOT NULL, PRIMARY KEY ("id"));
CREATE UNIQUE INDEX "users_email_key" ON "users" ("email");
CREATE TABLE "resumes" ("id" bigint NOT NULL GENERATED BY DEFAULT AS IDENTITY, "title" character varying NOT NULL, "content" character varying NOT NULL DEFAULT '{}', "status" character varying NOT NULL DEFAULT 'draft', "user_resumes" bigint NOT NULL, PRIMARY KEY ("id"), CONSTRAINT "resumes_users_resumes" FOREIGN KEY ("user_resumes") REFERENCES "users" ("id") ON DELETE NO ACTION);
CREATE TABLE "generations" ("id" bigint NOT NULL GENERATED BY DEFAULT AS IDENTITY, "job_description" character varying NOT NULL, "status" character varying NOT NULL DEFAULT 'pending', "result" character varying NULL, "resume_generations" bigint NOT NULL, PRIMARY KEY ("id"), CONSTRAINT "generations_resumes_generations" FOREIGN KEY ("resume_generations") REFERENCES "resumes" ("id") ON DELETE NO ACTION);
